## Tutorial on Bar Chart Race with Covid-19 Dataset

In [1]:
import os
import pandas as pd
import wget
# html embedding
from IPython.display import Javascript
from IPython.core.display import display
from IPython.core.display import HTML

### Remove the old files and download the up to date file. If you dont delete the old ones m the new ones will be downloaded with extension (1)

In [2]:
data_files = ['time_series_19-covid-Confirmed.csv','time_series_19-covid-Deaths.csv','time_series_19-covid-Recovered.csv']

In [3]:
for file in data_files:
    if os.path.exists(file):
        os.remove(file)

### Read The data from Github of CSSEGIS of John Hopkins

In [4]:
urls = ['https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv', 
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv', 
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv']
for url in urls:
    filename = wget.download(url)
    print('\n downloaded')

100% [..............................................................................] 83339 / 83339
 downloaded
100% [..............................................................................] 76698 / 76698
 downloaded
100% [..............................................................................] 79306 / 79306
 downloaded

### Read the CSV files as Pandas Dataframe

In [5]:

conf_df = pd.read_csv('time_series_19-covid-Confirmed.csv')
deaths_df = pd.read_csv('time_series_19-covid-Deaths.csv')
recv_df = pd.read_csv('time_series_19-covid-Recovered.csv')

In [6]:
conf_df.head(10)
#deaths_df.head()
#recv_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,75,82,114,147,177,212,272,322,411,599
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,701,773,839,825,878,889,924,963,1007,1086
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,200,212,226,243,266,313,345,385,432,455
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,2
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,197,238,428,566,673,790,900,1030,1183,1306
5,British Columbia,Canada,49.2827,-123.1207,0,0,0,0,0,0,...,64,64,73,103,103,186,231,271,424,424
6,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,92,112,134,171,210,267,307,353,436,533
7,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,36,49,57,71,94,121,121,121,229,296
8,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,35,46,61,68,78,94,144,184,221,221
9,NaN,Cambodia,11.5500,104.9167,0,0,0,0,0,1,...,5,7,7,7,33,35,37,51,53,84

### List down all the columns

In [7]:
conf_df.columns
# deaths_df.columns
# recv_df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20'],
      dtype='object')

### Group all the case country wise

In [8]:
# latest condensed
conf_df_grouped = conf_df.groupby('Country/Region')[conf_df.columns[4:]].sum().reset_index()
deaths_df_grouped = deaths_df.groupby('Country/Region')[deaths_df.columns[4:]].sum().reset_index()
recv_df_grouped = recv_df.groupby('Country/Region')[recv_df.columns[4:]].sum().reset_index()
conf_df_grouped.head()

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,7,11,16,21,22,22,22,24,24,40
1,Albania,0,0,0,0,0,0,0,0,0,...,33,38,42,51,55,59,64,70,76,89
2,Algeria,0,0,0,0,0,0,0,0,0,...,26,37,48,54,60,74,87,90,139,201
3,Andorra,0,0,0,0,0,0,0,0,0,...,1,1,1,2,39,39,53,75,88,113
4,Angola,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,2,2

In [9]:
countries_infected = conf_df['Country/Region'].unique()
print ('total number of countries/regions affected: ', len(countries_infected))

total number of countries/regions affected:  171

### List down cases of China Alone

In [10]:
conf_df_china = conf_df[conf_df['Country/Region']=='China']
provinces = conf_df_china['Province/State'].unique()
print ('total number of affected provinces in china: ', len(provinces))
conf_df_china.head()

total number of affected provinces in china:  33

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20
154,Hubei,China,30.9756,112.2707,444,444,549,761,1058,1423,...,67786,67790,67794,67798,67799,67800,67800,67800,67800,67800
158,Guangdong,China,23.3417,113.4244,26,32,53,78,111,151,...,1356,1356,1360,1361,1364,1370,1378,1395,1400,1407
159,Henan,China,33.8820,113.6140,5,5,9,32,83,128,...,1273,1273,1273,1273,1273,1273,1273,1273,1273,1273
160,Zhejiang,China,29.1832,120.0934,10,27,43,62,104,128,...,1215,1227,1231,1231,1232,1232,1233,1234,1236,1237
161,Hunan,China,27.6104,111.7088,4,9,24,43,69,100,...,1018,1018,1018,1018,1018,1018,1018,1018,1018,1018

### Save the prepared dataframe as csv files without the flag urls

In [11]:
conf_df_grouped.to_csv('covid_19_race_bar_conf.csv', index=False)
deaths_df_grouped.to_csv('covid_19_race_bar_death.csv', index=False)
recv_df_grouped.to_csv('covid_19_race_bar_recv.csv', index=False)

### To add the counrty flag on the graph

In [12]:
#pop_data = pd.read_csv('Data_pop.csv')
#pop_data.head()

In [13]:
#image_url = pop_data[['Country Name','Image URL']]
#image_url.head()

In [14]:
#image_url.to_csv('country_flags_url.csv', index=False)

### Read the csv files containing URL of the country flags

In [15]:
country_flags = pd.read_csv('country_flags_url.csv')
country_flags.head()

   Country Name                                   Image URL
0        Angola  https://www.countryflags.io/ao/flat/64.png
1       Burundi  https://www.countryflags.io/bi/flat/64.png
2         Benin  https://www.countryflags.io/bj/flat/64.png
3  Burkina Faso  https://www.countryflags.io/bf/flat/64.png
4      Botswana  https://www.countryflags.io/bw/flat/64.png

In [16]:
country_flags.describe()

       Country Name                                   Image URL
count           215                                         215
unique          215                                         215
top     Gambia, The  https://www.countryflags.io/no/flat/64.png
freq              1                                           1

### Add a Flag URL column to your Corona cases Dataframe

In [17]:
deaths_df_grouped.insert(1,'Flag URL','')
conf_df_grouped.insert(1,'Flag URL','')
recv_df_grouped.insert(1,'Flag URL','')
deaths_df_grouped.head()

,Country/Region,Flag URL,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20
0,Afghanistan,,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Albania,,0,0,0,0,0,0,0,0,...,1,1,1,1,1,2,2,2,2,2
2,Algeria,,0,0,0,0,0,0,0,0,...,2,3,4,4,4,7,9,11,15,17
3,Andorra,,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,Angola,,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### How to get the flag URL

In [18]:
flag = country_flags[country_flags['Country Name']=="India"]['Image URL']
flag = list(flag)[0]
flag
#rslt_df = image_url.loc[image_url['Country Name'] == 'Angola'] 
#rslt_df.iloc[:,1]

'https://www.countryflags.io/in/flat/64.png'

### How to get specific Country index

In [19]:
index = deaths_df_grouped[deaths_df_grouped['Country/Region']=="India"].index
print(index)
print(deaths_df_grouped.loc[index,:])

Int64Index([75], dtype='int64')
   Country/Region Flag URL  1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  \
75          India                 0        0        0        0        0

    1/27/20  1/28/20  1/29/20  ...  3/13/20  3/14/20  3/15/20  3/16/20  \
75        0        0        0  ...        2        2        2        2

    3/17/20  3/18/20  3/19/20  3/20/20  3/21/20  3/22/20
75        3        3        4        5        4        7

[1 rows x 63 columns]

In [20]:
deaths_df_grouped.loc[index,:]['Flag URL']

75
Name: Flag URL, dtype: object

In [21]:
deaths_df_grouped.at[index,'Flag URL']=flag
deaths_df_grouped.loc[index,:]['Flag URL']

75    https://www.countryflags.io/in/flat/64.png
Name: Flag URL, dtype: object

### Insert Flag URLs for all the countries

In [22]:
flags_unk = []
for cnt in countries_infected:
    flag = country_flags[country_flags['Country Name']==cnt]['Image URL']
    flag = list(flag)
    if flag:
        index = conf_df_grouped[conf_df_grouped['Country/Region']==cnt].index
        conf_df_grouped.at[index,'Flag URL']=flag[0]
    else:
        flags_unk.append(cnt)

for cnt in countries_infected:
    flag = country_flags[country_flags['Country Name']==cnt]['Image URL']
    flag = list(flag)
    if flag:
        index = deaths_df_grouped[deaths_df_grouped['Country/Region']==cnt].index
        deaths_df_grouped.at[index,'Flag URL']=flag[0]

    
for cnt in countries_infected:
    flag = country_flags[country_flags['Country Name']==cnt]['Image URL']
    flag = list(flag)
    if flag:
        index = recv_df_grouped[recv_df_grouped['Country/Region']==cnt].index
        recv_df_grouped.at[index,'Flag URL']=flag[0]

In [23]:
flags_unk

['United Arab Emirates',
 'Egypt',
 'North Macedonia',
 'Slovakia',
 'Martinique',
 'Brunei',
 'Holy See',
 'Korea, South',
 'Cruise Ship',
 'Czechia',
 'Taiwan*',
 'United Kingdom',
 'Congo (Kinshasa)',
 'Venezuela',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Kosovo',
 'Congo (Brazzaville)',
 'Kyrgyzstan',
 'Cape Verde',
 'East Timor',
 'Syria']

In [24]:

cnt_ext = {'US':'https://www.countryflags.io/us/flat/64.png','Iran':'https://www.countryflags.io/ir/flat/64.png',
           'United Kingdom':'https://www.countryflags.io/gb/flat/64.png', 
           'Korea, South':'https://www.countryflags.io/kr/flat/64.png'}
for cnt,url in cnt_ext.items():
        index = deaths_df_grouped[deaths_df_grouped['Country/Region']==cnt].index
        deaths_df_grouped.at[index,'Flag URL']=url
        index = conf_df_grouped[conf_df_grouped['Country/Region']==cnt].index
        conf_df_grouped.at[index,'Flag URL']=url
        index = recv_df_grouped[recv_df_grouped['Country/Region']==cnt].index
        recv_df_grouped.at[index,'Flag URL']=url

In [25]:
deaths_df_grouped.head()

,Country/Region,Flag URL,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20
0,Afghanistan,https://www.countryflags.io/af/flat/64.png,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Albania,https://www.countryflags.io/al/flat/64.png,0,0,0,0,0,0,0,0,...,1,1,1,1,1,2,2,2,2,2
2,Algeria,https://www.countryflags.io/dz/flat/64.png,0,0,0,0,0,0,0,0,...,2,3,4,4,4,7,9,11,15,17
3,Andorra,https://www.countryflags.io/ad/flat/64.png,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,Angola,https://www.countryflags.io/ao/flat/64.png,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Save the new data with included flag url

In [26]:
conf_df_grouped.to_csv('covid_19_race_bar_conf.csv', index=False)
deaths_df_grouped.to_csv('covid_19_race_bar_death.csv', index=False)
recv_df_grouped.to_csv('covid_19_race_bar_recv.csv', index=False)

### Bar Chart Race Visualization

https://public.flourish.studio/visualisation/1642821/

In [27]:
HTML('''<div class="flourish-embed flourish-bar-chart-race" data-src="visualisation/1642821"><script src="https://public.flourish.studio/resources/embed.js"></script></div>''')